### Maven template
**/target
*.versionsBackup

### JetBrains template
# User-specific stuff:
**/.idea
**/*.iws
**/*.iml

### Others
**/dependency-reduced-pom.xml
**/logs
*.log

### Mac files
.DS_Store

benchmarks/src/main/resources/org\.eclipse\.jdt\.source\.all\.zip

benchmarks/src/main/resources/org\.eclipse\.jdt\.source\.all\.xmi

benchmarks/src/main/resources/org\.eclipse\.jdt\.source\.all\.bin\.zip

benchmarks/src/main/resources/org\.eclipse\.jdt\.source\.all\.bin

benchmarks/src/main/resources/fr\.inria\.atlanmod\.neo4emf\.neo4jresolver\.xmi

*.zip

*.xmi

*.bin
